* {
  font-family: sans-serif;
  margin: 0;
  text-decoration: none;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #005685;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.about.section {
  background-color: #005685;
  height: auto;
  padding: 40px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
  font-size: 20px;
}

.aboutH1 {
  text-align: center;
  color: white;
  font-size: 40px;
}

.aboutWrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutWrapperDiv {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
}

.aboutMe {
  width: 60%;
  background-color: white;
  color: #005685;
  padding: 20px;
  border-radius: 5px;
}

.about-socialLink {
  width: 25%;
  height: 82px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-socialLink img {
  width: 30%;
  cursor: pointer;
}

.about-socialLink img:hover {
  transform: scale(1.2);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.aboutWrapperImg {
  width: 40%;
}

.aboutWrapperImg > img {
  display: block;
  margin: auto;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .aboutMe {
    width: 100%;
    background-color: white;
    color: #005685;
    padding: 20px;
    border-radius: 5px;
  }

  .about-socialLink {
    width: 30%;
  }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
  .aboutWrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: auto;
  }

  .aboutWrapperImg {
    width: 40%;
    margin: auto;
  }

  .aboutWrapperDiv {
    width: 90%;
    margin: auto;
  }

  .aboutMe {
    width: 100%;
    background-color: white;
    color: #005685;
    padding: 20px;
    border-radius: 5px;
  }

  .about-socialLink {
    width: 50%;
  }

  .about-socialLink img {
    width: 35%;
  }
}

.contact-main {
  background-color: white;
  padding: 40px 0px 60px 0px;
}

.headingwrapper {
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contactheading {
  color: #005685;
  font-size: 40px;
}

.headingwrapperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingwrapperDivRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
  color: #005685;
  font-size: 20px;
  width: min-content;
}

.headingwrapperDivRight > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-socialLink {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-socialLink img {
  width: 38%;
  cursor: pointer;
}

.contact-socialLink img:hover {
  transform: scale(1.2);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .headingwrapper {
    width: 80%;
  }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
  .headingwrapper {
    width: 90%;
  }

  .headingwrapperDiv {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .headingwrapperDivLeft {
    display: none;
  }
}

.footer {
  background-color: #e2e4e3;
  padding: 20px 0px 20px 0px;
}

.love {
  font-size: 20px;
  text-align: center;
}

.github-main {
  padding: 40px 0px 40px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.github-heading {
  font-size: 40px;
}

.github-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .github-calender {
    width: 90%;
    height: auto;
  }

  .github-stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
  .github-calender {
    width: 90%;
    height: auto;
  }

  .github-stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}

.home-main {
  background-color: white;
  padding: 150px 0px 100px 0px;
}

.homeWrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLeft {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.homeLeft > div:nth-child(1) {
  width: 80%;
  font-size: 80px;
  font-style: normal;
  font-weight: 1000;
  color: #005685;
}

.homeLeft > div:nth-child(2) {
  font-size: 20px;
  font-style: normal;
  line-height: 25px;
}

.homeLeft a {
  width: 24%;
}

.home-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005685;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-style: normal;
  cursor: pointer;
}

.home-resume:hover {
  background-color: #ff8a2e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.home-img {
  width: 500px;
  height: 500px;
  display: block;
  margin: auto;
  border: 3px solid #005685;
  border-radius: 50%;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .homeLeft > div:nth-child(1) {
    font-size: 40px;
  }

  .home-img {
    width: 300px;
    height: 300px;
  }

  .home-resume {
    width: 130px;
  }

  .homeLeft a {
    width: min-content;
  }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
  .home-main {
    padding: 100px 0px 10px 0px;
  }

  .homeWrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }

  .homeLeft {
    width: 100%;
    padding: 30px;
  }

  .home-img {
    width: 300px;
    height: 300px;
  }

  .homeLeft > div:nth-child(1) {
    font-size: 40px;
  }

  .home-resume {
    width: 130px;
  }

  .homeLeft a {
    width: min-content;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #005685;
  position: fixed;
  z-index: 100;
  font-size: 20px;
  color: white;
}

.navbarScrolled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #005685;
  position: fixed;
  z-index: 100;
  font-size: 20px;
  color: white;
  opacity: 0.9;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90%;
  margin: auto;
}

.wrapperLeft img {
  width: 50px;
  cursor: pointer;
}

.wrapperRight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.navbar-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 125px;
  text-align: center;
  color: #005685;
  padding: 10px;
  border-radius: 10px;
  font-style: normal;
  cursor: pointer;
}

.navbar-resume:hover {
  color: white;
  background-color: #ff8a2e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.wrapperRight a:hover {
  cursor: pointer;
  color: #ff8a2e;
}

.responce {
  display: none;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .wrapperRight {
    display: none;
  }

  .responce {
    display: block;
    font-size: 30px;
  }

  .drawerbody {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .drawerbody a:hover {
    cursor: pointer;
    color: #ff8a2e;
  }

  .navbar-resume {
    background-color: #005685;
    color: white;
  }
}

@media all and (min-width: 280px) and (max-width: 767px) {
  .wrapperRight {
    display: none;
  }

  .responce {
    display: block;
    font-size: 30px;
  }

  .drawerbody {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .drawerbody a:hover {
    cursor: pointer;
    color: #ff8a2e;
  }

  .navbar-resume {
    background-color: #005685;
    color: white;
  }
}

.projects-projects {
  text-align: center;
  color: white;
  background-color: #005685;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 40px 0px 40px 0px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.projects-heading {
  font-size: 40px;
}

.project-card {
  width: 80%;
  margin: auto;
  background-color: white;
  color: black;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.project-card-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.project-card-container > div:nth-child(1) {
  width: 45%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.project-card-container > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.project-card-text {
  text-align: left;
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.project-title {
  color: #005685;
  font-size: 30px;
  font-weight: bold;
}

.project-description {
  font-size: 20px;
  text-align: justify;
}

.project-tech-stack {
  display: flex;
  align-items: center;
}

.project-skills-card {
  text-align: center;
  padding: 0px 4px;
}

.project-tech-stack img {
  width: 50px;
  display: block;
  margin: auto;
}

.project-card-btn {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.project-card-btn div {
  font-size: 20px;
  font-style: normal;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.project-card-btn div:nth-child(1) {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-card-btn div:nth-child(2) {
  background-color: #005685;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-card-btn div:hover {
  background: #ff8a2e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .project-card {
    width: 90%;
  }

  .project-tech-stack p {
    display: none;
  }

  .project-card-btn {
    width: 100%;
  }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
  .project-card {
    width: 90%;
  }

  .project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-card-container > div:nth-child(1) {
    width: 100%;
  }

  .project-card-text {
    width: 100%;
  }

  .project-title {
    margin-top: 20px;
  }

  .project-tech-stack p {
    display: none;
  }

  .project-card-btn {
    width: 100%;
    align-items: center;
  }
}

.skills-main {
  background-color: #e2e4e3;
  padding: 40px 0px 60px 0px;
}

.skillsWrapper {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.skills-heading {
  font-size: 40px;
}

.skillsTechnologiesDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, auto);
  gap: 40px;
  padding: 20px 0px;
}

.skillsProficienciesDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
  padding: 20px 0px;
}

.skillsToolsDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  padding: 20px 0px;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .skillsWrapper {
    width: 100%;
  }

  .skillsTechnologiesDiv {
    grid-template-columns: repeat(3, auto);
  }

  .skillsProficienciesDiv {
    grid-template-columns: repeat(3, auto);
  }

  .skillsToolsDiv {
    grid-template-columns: repeat(3, auto);
  }
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
  .skillsWrapper {
    width: 100%;
  }

  .skillsTechnologiesDiv {
    grid-template-columns: repeat(2, auto);
  }

  .skillsProficienciesDiv {
    grid-template-columns: repeat(2, auto);
  }

  .skillsToolsDiv {
    grid-template-columns: repeat(2, auto);
  }
}

.skills-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 180px;
  background-color: transparent;
  padding: 10px;
  color: #005685;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  background-color: white;
}

.skills-card:hover {
  transform: scale(1.1);
  color: #ff8a2e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.skills-card > div {
  width: 150px;
  height: 150px;
}

.skills-card img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
  .skills-card {
    width: 140px;
    padding: 8px;
  }

  .skills-card > div {
    width: 80px;
    height: 80px;
  }
}
